<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>@ViewBag.Title - PK拾</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="@ViewBag.Description">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @*<link href="~/RacingMotoBetCss" rel="stylesheet" />*@
    <link href="~/Content/bet.css" rel="stylesheet" />

    <script src="~/RacingMotoBetJs"></script>
    <script src="~/Scripts/AngularJs/ui-bootstrap-tpls-2.4.0.min.js"></script>

    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/ngApp.js"></script>
    @RenderSection("headScripts", required: false)
</head>
<body ng-app="RacingMotoNgApp">
    @{
        var userName = PKBag.LoginUser != null ? PKBag.LoginUser.UserName : "";
        var balance = PKBag.LoginUser != null ? PKBag.LoginUser.UserExtend.Amount : 0;
    }
    <div class="user-top">
        <div class="box">
            <img src="/img/houtai/user.png" class="user">
            <div class="name">@userName</div>
            <div class="edu">余额：<span id="balance">@balance</span></div>
            <a href="#" class="jia">
                <img src="/img/houtai/jia.png">
            </a>
            <div class="name"><a href="/Account/Logout">退出</a></div>

        </div>
    </div>
    <div class="nav">
        <a class="logo">
            <img src="/img/houtai/logo.png">
        </a>
        <div class="jishiqi">
            <img src="/img/houtai/jishiqi.png">
        </div>
        <div class="shijian">2016-09-29 13：25：45</div>
        <ul class="hide">
            <li>
                <a href="">
                    <img src="/img/houtai/nav-1.png">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="/img/houtai/nav-2.png">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="/img/houtai/nav-3.png">
                </a>
            </li>
        </ul>
    </div>
    <div class="main-wrap">
        <div class="left">
            <img src="/img/houtai/guanggao.png" class="guanggao">
            <div class="jilu">
                <div class="top">
                    历史中奖纪录
                </div>
                <div class="bottom">
                    <div class="tab1 active">上期纪录</div>
                    <div class="tab2">历史纪录</div>
                </div>
            </div>
            <div class="dijiqi">
                统计至第557175期
            </div>
            <ul class="list">
                <li>
                    <span class="a">冠军</span>
                    <span class="b">单</span>
                    <span class="c">5</span>
                </li>
                <li>
                    <span class="a">冠军</span>
                    <span class="b">单</span>
                    <span class="c">5</span>
                </li>
                <li>
                    <span class="a">冠军</span>
                    <span class="b">单</span>
                    <span class="c">5</span>
                </li>
                <li>
                    <span class="a">冠军</span>
                    <span class="b">单</span>
                    <span class="c">5</span>
                </li>
                <li>
                    <span class="a">冠军</span>
                    <span class="b">单</span>
                    <span class="c">5</span>
                </li>
                <li>
                    <span class="a">冠军</span>
                    <span class="b">单</span>
                    <span class="c">5</span>
                </li>
            </ul>
        </div>
        <div class="right">
            <ul class="main-menu top">
                <li class="menu-1"><a href="/Admin/Bet/Raise">即时注单</a></li>
                <li class="menu-2 on"><a href="/Admin/PK/Rate">游戏管理</a></li>
                <li class="menu-3"><a href="/Admin/User/All">用户管理</a></li>
                <li class="menu-4"><a href="/Admin/MyCenter/UserInfo">个人中心</a></li>
            </ul>
            <ul class="sub-menu-1 hide tab-new">
                @*<li><a href="">&nbsp;</a></li>*@
            </ul>
            <ul class="sub-menu-2 tab-new">
                <li><a href="/Admin/PK/Rate">盘口设置</a></li>
                <li><a href="/Admin/PK/Bet">注单查询</a></li>
                <li><a href="/Admin/PK/History">历史开奖</a></li>
                <li><a href="/Admin/PK/News" id="btnNews">站内消息设置</a></li>
            </ul>
            <ul class="sub-menu-3 hide tab-new">
                <li><a href="/Admin/User/All">所有用户</a></li>
                <li><a href="/Admin/User/GeneralAgent">总代理</a></li>
                <li><a href="/Admin/User/Agent">代理</a></li>
                <li><a href="/Admin/User/Member">会员</a></li>
                <li><a href="/Admin/User/Vistor">游客</a></li>
            </ul>
            <ul class="sub-menu-4 hide tab-new">
                <li><a href="/Admin/MyCenter/UserInfo">用户信息</a></li>
                <li><a href="/Admin/MyCenter/ChangePwd">修改密码</a></li>
                <li><a href="/Admin/MyCenter/BetHistory">历史注单</a></li>
                <li><a href="/Admin/MyCenter/Bonus">流水一览</a></li>
            </ul>
            @RenderBody()
        </div>
        <div class="clear"></div>
    </div>

    <div id="loader-wrapper" ng-show="RequestCount > 0 && Loading">
        <div class="loader-with-bgimg long"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>

    <script type="text/javascript">
        $(function () {
            $('body').everyTime('1s', function () {
                var date = $app.formatDate(new Date(), 'yyyy-MM-dd HH:mm:ss');
                $('.shijian').text(date);
            });

            // reset SubMenu
            function resetSubMenu() {
                var index = 0;
                $('.main-menu > li').each(function () {
                    index++;
                    if ($(this).hasClass('on')) {
                        $('.sub-menu-' + index).removeClass('hide');
                    } else {
                        $('.sub-menu-' + index).addClass('hide');
                    }
                });
            }
            // menu: hover
            //$('.main-menu > li').hover(function (evt) {
            //    $('.main-menu > li').each(function () {
            //        $(this).removeClass('on');
            //    });
            //    $(this).addClass('on');

            //    // sub menu
            //    resetSubMenu()
            //},function () { 
            //});

            // menu: sub-menu: current
            var mainMenuIndex = 0;
            var href = location.href.toLowerCase();
            for (var i = 1; i <= 4; i++) {
                $('.sub-menu-' + i + ' > li').each(function () {
                    var aHref = $('a', $(this)).attr('href').toLowerCase();
                    if (href.indexOf(aHref) > -1) {
                        mainMenuIndex = i;
                        $(this).addClass('on');
                    } else {
                        $(this).removeClass('on');
                    }
                });

                // menu: main-menu
                if (i == mainMenuIndex) {
                    $('.menu-' + i).addClass('on');
                } else {
                    $('.menu-' + i).removeClass('on');
                }
            }
            resetSubMenu();

            // menu: News
            $('#btnNews').click(function (evt) {
                evt.preventDefault();
                location.href = '/Admin/PK/NewsAnnouncement';
            });

        })
    </script>

    @RenderSection("footerScripts", required: false)
</body>
</html>
