<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>@ViewBag.Title - PK拾</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="@ViewBag.Description">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    @*<link href="~/RacingMotoBetCss" rel="stylesheet" />*@
    <link href="~/Content/bet.css" rel="stylesheet" />

    <script src="~/RacingMotoBetJs"></script>
    <script src="~/Scripts/AngularJs/angular-ui-bootstrap.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/ngApp.js"></script>

    <script src="~/Scripts/timeCountDown.js"></script>

    @RenderSection("headScripts", required: false)
</head>
<body ng-app="RacingMotoNgApp">
    @{
        var userName = PKBag.LoginUser != null ? PKBag.LoginUser.UserName : "";
        var balance = PKBag.LoginUser != null ? PKBag.LoginUser.UserExtension.Amount.ToString("0") : "0";

        var menus = PKBag.Menus != null ? PKBag.Menus : new List<Racing.Moto.Data.Entities.Menu>();
        var rootMenus = menus.Where(m => m.ParentMenuId == null).ToList();
    }
    <div class="user-top">
        <div class="box">
            <img src="/img/houtai/user.png" class="user">
            <div class="name">@userName</div>
            <div class="edu">余额：<span id="balance">@balance</span></div>
            <a href="#" class="jia">
                <img src="/img/houtai/jia.png">
            </a>
            <div class="name"><a href="/Account/Logout">退出</a></div>

        </div>
    </div>
    <div class="nav">
        <a class="logo">
            <img src="/img/houtai/logo.png">
        </a>
        <div class="jishiqi">
            <img src="/img/houtai/jishiqi.png">
        </div>
        <div class="shijian">2016-09-29 13：25：45</div>
        <ul class="hide">
            <li>
                <a href="">
                    <img src="/img/houtai/nav-1.png">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="/img/houtai/nav-2.png">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="/img/houtai/nav-3.png">
                </a>
            </li>
        </ul>
        <ul class="main-menu">
            @for (var i = 0; i < rootMenus.Count; i++)
            {
                var css = i == 0 ? "on" : "";
                <li class="@css"><a href="@rootMenus[i].MenuUrl">@rootMenus[i].MenuName</a></li>
            }
        </ul>
    </div>
    <div class="main-wrap">
        <div class="left">
            <img src="/img/houtai/guanggao.png" class="guanggao">
            <div class="jilu">
                <div class="top">
                    历史中奖纪录
                </div>
                <div class="bottom">
                    <div class="tab1 active">上期纪录</div>
                    <div class="tab2">历史纪录</div>
                </div>
            </div>
            <div class="dijiqi">
                统计至第557175期
            </div>
            <ul class="list">
                <li>
                    <span class="a">冠军</span>
                    <span class="b">单</span>
                    <span class="c">5</span>
                </li>
                <li>
                    <span class="a">冠军</span>
                    <span class="b">单</span>
                    <span class="c">5</span>
                </li>
                <li>
                    <span class="a">冠军</span>
                    <span class="b">单</span>
                    <span class="c">5</span>
                </li>
                <li>
                    <span class="a">冠军</span>
                    <span class="b">单</span>
                    <span class="c">5</span>
                </li>
                <li>
                    <span class="a">冠军</span>
                    <span class="b">单</span>
                    <span class="c">5</span>
                </li>
                <li>
                    <span class="a">冠军</span>
                    <span class="b">单</span>
                    <span class="c">5</span>
                </li>
            </ul>
        </div>
        <div class="right">
            @Html.Partial("_Menu")
            @RenderBody()
        </div>
        <div class="clear"></div>
    </div>

    <div id="loader-wrapper" ng-show="RequestCount > 0 && Loading">
        <div class="loader-with-bgimg long"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>

    <script type="text/javascript">
        $(function () {
            $('body').everyTime('1s', function () {
                var date = $app.formatDate(new Date(), 'yyyy-MM-dd HH:mm:ss');
                $('.shijian').text(date);
            });
        })
    </script>

    @RenderSection("footerScripts", required: false)
</body>
</html>
