<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>@ViewBag.Title - 速度与激情</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="@ViewBag.Description">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    @*<link href="~/RacingMotoBetCss" rel="stylesheet" />*@
    <link href="~/Content/bet.css" rel="stylesheet" />

    <script src="~/RacingMotoBetJs"></script>
    <script src="~/Scripts/AngularJs/angular-ui-bootstrap.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/ngApp.js"></script>

    <script src="~/Scripts/timeCountDown.js"></script>

    @RenderSection("headScripts", required: false)
</head>
<body ng-app="RacingMotoNgApp">
    @{
        var userName = PKBag.LoginUser != null ? PKBag.LoginUser.UserName : "";
        var userId = PKBag.LoginUser != null ? PKBag.LoginUser.UserId : 0;
        var balance = PKBag.LoginUser != null ? PKBag.LoginUser.UserExtension.Amount.ToString("0") : "0";

        var menus = PKBag.Menus != null ? PKBag.Menus : new List<Racing.Moto.Data.Entities.Menu>();
        var rootMenus = menus.Where(m => m.ParentMenuId == null).ToList();
    }
    <input type="hidden" id="loginUserId" value="@userId" />
    <div class="user-top">
        <div class="box">
            <img src="/img/houtai/user.png" class="user">
            <div class="name">@userName</div>
            <div class="edu">余额：<span id="balance">@balance</span></div>
            <a href="#" class="jia">
                <img src="/img/houtai/jia.png">
            </a>
            <div class="name"><a href="/Account/Logout">退出</a></div>
        </div>
    </div>
    <div class="nav">
        <a class="logo">
            <img src="/img/houtai/logo.png">
        </a>
        <div class="jishiqi">
            <img src="/img/houtai/jishiqi.png">
        </div>
        <div class="shijian">2016-09-29 13：25：45</div>
        <ul class="hide">
            <li>
                <a href="">
                    <img src="/img/houtai/nav-1.png">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="/img/houtai/nav-2.png">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="/img/houtai/nav-3.png">
                </a>
            </li>
        </ul>
        <ul class="main-menu">
            @for (var i = 0; i < rootMenus.Count; i++)
            {
                var css = i == 0 ? "on" : "";
                <li class="@css"><a href="@rootMenus[i].MenuUrl">@rootMenus[i].MenuName</a></li>
            }
        </ul>
    </div>
    <div class="main-wrap">
        <div class="left">
            <img src="/img/houtai/guanggao.png" class="guanggao">
            <div class="jilu">
                <div class="top">上期纪录</div>
                <div class="pk-id">
                    <div>期数 : <span id="pkId">0</span></div>
                    <div>开奖时间 : <span id="pkLotteryTime"></span></div>
                </div>
                <div class="bottom">
                    <div>
                        <table class="rank">
                            <tr>
                                <td width="80" class="rank-title">名次1</td>
                                <td width="35">冠</td>
                                <td width="35">亚</td>
                                <td width="35">三</td>
                                <td width="35">四</td>
                                <td width="35">五</td>
                            </tr>
                            <tr id="rank1">
                                <td width="80" class="rank-title">车号1</td>
                                <td width="35"><div class="mingci bg-1">1</div></td>
                                <td width="35"><div class="mingci bg-2">2</div></td>
                                <td width="35"><div class="mingci bg-3">3</div></td>
                                <td width="35"><div class="mingci bg-4">4</div></td>
                                <td width="35"><div class="mingci bg-5">5</div></td>
                            </tr>
                            <tr>
                                <td width="80" class="rank-title">名次2</td>
                                <td width="35">六</td>
                                <td width="35">七</td>
                                <td width="35">八</td>
                                <td width="35">九</td>
                                <td width="35">十</td>
                            </tr>
                            <tr id="rank2">
                                <td width="80" class="rank-title">车号2</td>
                                <td width="35"><div class="mingci bg-6">6</div></td>
                                <td width="35"><div class="mingci bg-7">7</div></td>
                                <td width="35"><div class="mingci bg-8">8</div></td>
                                <td width="35"><div class="mingci bg-9">9</div></td>
                                <td width="35"><div class="mingci bg-10">10</div></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            @Html.Partial("_Menu")
            @RenderBody()
        </div>
        <div class="clear"></div>
    </div>

    <div id="loader-wrapper" ng-show="RequestCount > 0 && Loading">
        <div class="loader-with-bgimg long"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>

    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script type="text/javascript">

        var prevMotoRacing = {
            getPrevPK: function () {
                $.ajax({
                    type: "post",
                    url: "/api/pk/GetPrevPK",
                    data: { },
                    complete: function (response, textStatus) {

                        var res = JSON.parse(response.responseText);
                        //console.log(res);
                        if (res.Success) {
                            prevMotoRacing.refresh(res.Data);
                        } 
                    }
                });
            },
            refresh: function (pk) {
                if (pk != null) {
                    prevMotoRacing.PK = pk;

                    $('#pkId').text(pk.PKId);

                    // 开奖时间
                    var md = $app.formatDateString(pk.EndTime, 'MM-dd');
                    var hms = $app.formatDateString(pk.EndTime, 'HH:mm:ss');
                    var week = $app.getWeek(pk.EndTime);
                    $('#pkLotteryTime').text(md + ' ' + week + ' ' + hms);

                    // 名次
                    var rank1Html = '<td width="80" class="rank-title">车号1</td>'
                        , rank2Html = '<td width="80" class="rank-title">车号2</td>';

                    if (pk.Ranks != null) {
                        var ranks = pk.Ranks.split(',');
                        for (var i = 0; i < ranks.length; i++) {
                            if (i < 5) {
                                rank1Html += '<td width="35"><div class="mingci bg-' + ranks[i] + '">' + ranks[i] + '</div></td>';
                            } else {
                                rank2Html += '<td width="35"><div class="mingci bg-' + ranks[i] + '">' + ranks[i] + '</div></td>';
                            }
                        }
                    }
                    $('#rank1').html(rank1Html);
                    $('#rank2').html(rank2Html);
                }
            },
            getLotteryClock: function () {
                var eleHour = document.getElementById('hour').innerHTML;
                var eleMinute = document.getElementById('minute').innerHTML;
                var eleSecond = document.getElementById('second').innerHTML;

                return eleHour + ':' + eleMinute + ':' + eleSecond;
            },
            getBalance: function () {
                var id = $('#loginUserId').val();
                if (id != 0) {
                    $.ajax({
                        type: "post",
                        url: "/api/user/GetBalance/" + id,
                        data: {},
                        complete: function (response, textStatus) {

                            var res = JSON.parse(response.responseText);
                            console.log(res);
                            if (res.Success) {
                                $('#balance').text(res.Data);
                            }
                        }
                    });
                }
            },
        };

        $(function () {
            $('body').everyTime('1s', function () {
                var date = $app.formatDate(new Date(), 'yyyy-MM-dd HH:mm:ss');
                $('.shijian').text(date);
            });

            if (location.href.toLowerCase().indexOf('/moto/bet') == -1) {
                prevMotoRacing.getPrevPK();

                $('body').everyTime('10s', function () {
                    prevMotoRacing.getPrevPK();
                    prevMotoRacing.getBalance();
                });
            }
        })

        //上期记录
        //$(function () {
        //    var prevTicker = $.connection.prevPKTickerHub;

        //    function init() {
        //        prevTicker.server.getPK().done(function (pk) {
        //            console.log(pk);
        //            prevMotoRacing.refresh(pk);
        //        });
        //    }

        //    // Add a client-side hub method that the server will call
        //    prevTicker.client.updatePK = function (pk) {
        //        console.log(pk);
        //        prevMotoRacing.refresh(pk);
        //    }

        //    // Start the connection
        //    $.connection.hub.start().done(init);
        //})
    </script>

    @RenderSection("footerScripts", required: false)
</body>
</html>
