@model Racing.Moto.Data.Models.ChangePasswordModel
@{
    ViewBag.Title = "修改密码";
}
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { style = "display:none;" })
    <table width="100%" height="100%" border="0" cellspacing="0" class="a">
        <tbody>
            <tr>
                <td width="6" height="99%" bgcolor="#4E4E4E"></td>
                <td class="c">
                    <table border="0" cellspacing="0" class="main">
                        <tbody>
                            <tr>
                                <td width="12"><img src="/images/admin/tab_03.gif" alt=""></td>
                                <td background="/images/admin/tab_05.gif"></td>
                                <td width="16"><img src="/images/admin/tab_07.gif" alt=""></td>
                            </tr>
                            <tr>
                                <td class="t"></td>
                                <td class="c">
                                    <!-- strat -->
                                    <table border="0" cellspacing="0" class="conter">
                                        <tbody>
                                            <tr class="tr_top">
                                                <th colspan="2">更變密碼</th>
                                            </tr>
                                            <tr style="height: 30px;" onmouseover="this.style.backgroundColor='#FFFFA2'" onmouseout="this.style.backgroundColor=''">
                                                <td class="bj">原始密碼</td>
                                                <td class="left_p5">
                                                    @*<input type="password" id="s_pwd" name="s_pwd" class="text">*@
                                                    @Html.PasswordFor(m => m.OldPassword, new { @class = "text", maxlength = "18" })
                                                </td>
                                            </tr>
                                            <tr style="height: 30px;" onmouseover="this.style.backgroundColor='#FFFFA2'" onmouseout="this.style.backgroundColor=''">
                                                <td class="bj">新設密碼</td>
                                                <td class="left_p5">
                                                    @*<input type="password" id="new_pwd" name="new_pwd" class="text">*@
                                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "text", maxlength = "18" })
                                                </td>
                                            </tr>
                                            <tr style="height: 30px;" onmouseover="this.style.backgroundColor='#FFFFA2'" onmouseout="this.style.backgroundColor=''">
                                                <td class="bj">確認密碼</td>
                                                <td class="left_p5">
                                                    @*<input type="password" id="f_pwd" name="f_pwd" class="text">*@
                                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "text", maxlength = "18" })
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- end -->
                                </td>
                                <td class="r"></td>
                            </tr>
                            <tr>
                                <td width="12"><img src="/images/admin/tab_18.gif" alt=""></td>
                                <td class="f" align="center"><input type="submit" class="inputs" value="確定更變" id="btnSubmit"/></td>
                                <td width="16"><img src="/images/admin/tab_20.gif" alt=""></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td width="6" bgcolor="#4E4E4E"></td>
            </tr>
            <tr>
                <td height="6" bgcolor="#4E4E4E"></td>
                <td bgcolor="#4E4E4E"></td>
                <td height="6" bgcolor="#4E4E4E"></td>
            </tr>
        </tbody>
    </table>
}
<script type="text/javascript">
    $(function () {
        $('#btnSubmit').click(function (event) {
            var msg = pwdOpt.check();
            if(msg != ''){
                alert(msg);
                event.preventDefault();
                return;
            }
            //$("form").submit();
        });

        //init
        pwdOpt.init();
    });
    var pwdOpt = {
        init: function () {
            //focus
            $('#OldPassword').focus();
            //enterKey
            $app.submitOnEnterKey('ConfirmPassword', 'btnSubmit');
            //msg
            var messages = $app.getValidationMessages();
            if (messages.length > 0) {
                alert(messages[0]);
            }
        },
        check: function () {
            var msg = '';

            var oldPwd = $.trim($('#OldPassword').val());
            var pwd = $.trim($('#NewPassword').val());
            var pwd2 = $.trim($('#ConfirmPassword').val());
            if (oldPwd == '' || pwd == '' || pwd2 == '') {
                msg = '请输入原始密碼,新設密碼,確認密碼.';
                return msg;
            }
            if (pwd != pwd2) {
                msg = '两次输入的密码不一致.';
                return msg;
            }
            if (pwd.length < 6) {
                msg = '密码长度不能少于6位.';
                return msg;
            }

            return msg;
        },
    };
</script>