<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <title>@ViewBag.Title - 速度与激情</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="@ViewBag.Description">
        <script src="~/RacingMotoJs"></script>

        <link href="~/Content/site.css" rel="stylesheet" />
        <script src="~/Scripts/app.js"></script>

        @RenderSection("headScripts", required: false)
    </head>
    <body>
        <div class="dating-wrap-no-header">
            <ul class="menu">
                <li style="float:right;padding-right:10px;"><a href="/Account/Logout">退出</a></li>
            </ul>
            <div style="padding-top:30px;">
                @RenderBody()
            </div>
        </div>

        @RenderSection("footerScripts", required: false)
    </body>
</html>
